*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Kaisei HarunoUmi', serif;
}

body{
    background: rgb(101,221,218);
    background: linear-gradient(138deg, rgba(101,221,218,1) 12%, rgba(205,85,66,1) 51%, rgba(74,170,167,1) 90%);
    display: flex;
    flex-direction: center;
    justify-content: center;
}

#Conteiner-Principal{
    width: 80%;
    background-color: white;
    border-radius: 20px;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.Nav-bar{
    width: 100%;
    display: flex;
    align-items: center;
}

.Logomarca{
    width: 75px;
    margin: 30 0;
    border-radius: 10px;
    margin-top: 15px;
    
}

nav{
    width: 100%;
    text-align: right;
}

li{
    display: inline-block;
    list-style: none;
    margin-right: 25px;
}

.nav-itens{
    cursor: pointer;
    text-decoration: none;
    color: 	#039396;
    font-size: 15px;
}

.nav-itens:hover{
    color: black;
}

#Fileiras{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 85px 0;
}

.Primeira-Fileira{
    margin-left: 50px;
    position: relative;
}

.Primeira-Fileira::before{
    content: " ";
    width: 15px;
    height: 90%;
    position: absolute;
    left: -48px;
    top:  8px;
    background: linear-gradient(138deg, rgba(101,221,218,1) 12%, rgba(205,85,66,1) 51%, rgba(74,170,167,1) 90%);
}

h1{
    font-size: 54px;
}

h3{
    font-size: 30px;
    color: 	#ce2424;
    margin: 10px 0;
    font-weight: 100;
}

p{
    font-size: 16px;
    color: #858282;
    font-weight: 100;
}

h4{
    font-size: 20px;
    color: black;
    margin: 10px 0;
}

.Comprar{
    width: 160px;
    border: none;
    padding: 12px 10px;
    outline: none;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    background: linear-gradient(138deg, rgba(101,221,218,1) 12%, rgba(205,85,66,1) 51%, rgba(74,170,167,1) 90%);
    z-index: 2;
    transition: all 1s ease-in-out;
}

.Comprar img{
    width: 25px;
    display: none;
}

.Comprar:hover{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.Comprar:hover img{
    display: block;
}

.Segunda-Fileira{
    display: flex;
    align-items: center;
    position: relative;
}

.console{
    width: 90%;
    z-index: 2;
    cursor: pointer;
    animation: moveConsolle 3s ease-in-out;  
    
}

.console:hover{
    animation: moveconsole 2s 0.5s infinite alternate-reverse ease-in-out;
}

.Box-Vazia{
    position: absolute;
    right: 0;
    top: 0;
    background: linear-gradient(138deg, rgba(101,221,218,1) 12%, rgba(205,85,66,1) 51%, rgba(74,170,167,1) 90%);
    height: 100%;
    width: 80%;
    border-radius: 20px 0 0 20px;
    z-index: 1;
    transform: translateX(150px);
}

.Add{
    z-index: 2;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.Add img{
    height: 100%;
    width: 100%;
    max-width: 50px;
}

#Social-Links{
    display: flex;
    align-items: center;
    justify-content: center;
}

#Social-Links img{
    height: 30px;
    margin: 20px;
    cursor: pointer;
}

.Menu-icone{
    width: 20px;
    margin-top: 20px;
    display: none;
}

@media ( max-width: 780px){
    #Conteiner-Principal{
        width: 100vh;
        height: 100vh;
        border-radius: 0;
        overflow-y: auto;
    }

    #Fileiras{
        flex-direction: column-reverse;
    }

    .Segunda-Fileira{
        margin-bottom: 30px;
    }

    .Box-Vazia{
        transform: translateX(70px);
    }

    #Menu-List{
        position: relative;
        top: 80px;
        left: 60px;
        overflow:hidden;
        transition: all 1s ease-in-out;
    }

    .Menu-icone{
        display: block;
        cursor: pointer;
    }

    .nav-itens{
        display: block;
        margin-top: 5px;
    }
}

@keyframes moveConsolle {
    100%{
        transform: translateX(0%);
    }

    0%{
        transform: translateX(100%);
    }
}

@keyframes moveconsole {
    0%{
        transform: translatey(-20%)
    }

    20%{
        transform: translateY(20%);
    }
}